---
layout: default
title: David Gageot - Retour1024
home: /
---

<body data-spy="scroll" data-target="#navformations">

{% include header.html %}

<div class="container" id="formations">
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list affix" id="navformations">
        <li class="nav-header">Tests</li>
        {% for post in site.categories.formation %}
        <li><a href="#{{post.code}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="span9">
      {% for post in site.categories.formation %}
      <section id="{{post.code}}">
        <h2>{{post.title}}</h2>

        {{post.content}}
      </section>
      {% if forloop.rindex > 1 %}
      <hr>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% include footer.html %}

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>