---
layout: default
title: David Gageot - Retour1024
home: /
---

<body data-spy="scroll" data-target="#navformations">

{% include header2.html %}

<div class="container" id="formations">
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list affix" id="navformations">
        <li class="nav-header">Tests</li>
        {% for post in site.categories.formation %}
        <li>
          <i class="icon-chevron-right"></i>
          <a href="#{{post.code}}">{{post.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="span9">
      {% for post in site.categories.formation %}
      <section id="{{post.code}}">
        <div class="hero-unit">
          <div class="row-fluid">
            <div class="span12">
              <h2>{{post.name}}</h2>

              <p class="pull-right"><strong>{{post.duration}}</strong></p>

              <p class="mute">« {{post.subtitle}} »</p>
            </div>
          </div>
        </div>

        {% if post.warning %}
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{post.warning}}</strong>
        </div>
        {% endif %}
        {{post.summary}}

        <div class="text-right">
          <br>
          <a href="{{post.url}}" class="btn btn-primary text-right">Plus de détails »</a>
        </div>
      </section>
      {% if forloop.rindex > 1 %}
      <hr>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% include footer.html %}

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $('body').scrollspy({
      offset: 100
    });
  });
</script>
</body>