---
layout: default
title: David Gageot - Retour1024
home: /
---

<body>

{% include header.html %}

<div class="container" id="legal">
  <div class="row">
    <div class="span4">
      <address>
        <strong>RETOUR1024</strong><br>
        SASU au capital de 1000&euro;<br>
        SIREN : 532 820 933, au RCS de Paris<br>
        16 Cité de Trévise<br>
        75009 Paris<br>
        France<br>
      </address>

      <address>
        <strong>David Gageot</strong><br>
        <a href="mailto:david@gageot.net">david@gageot.net</a>
      </address>
    </div>
  </div>
</div>

{% include footer.html %}
