<section id="activites">
  <div class="container marketing">
    <div class="row">
      <div class="span4">
        <img id="red-green-refactor" src="/assets/img/red-green-refactor.png">

        <h2 id="opensource">Open-Source</h2>

        <p>
          Depuis 2010, j'ai pris le leadership sur le projet open-source
          <a href="http://infinitest.github.com">Infinitest</a>, un plugin pour Eclipse et IntelliJ qui permet, après
          chaque changement de code, de jouer les tests unitaires potentiellement impactés.
        </p>

        <p>
          <a href="http://infinitest.github.com">Infinitest</a> est l'outil rêvé pour les fans du TDD car il réduit les
          cycles de feedback.
        </p>

        <p>
          <i class="icon-info-sign"></i>Mes projets et contributions sont sur <a href="https://github.com/dgageot">GitHub</a>.
        </p>
      </div>

      <div class="span4">
        <img src="/assets/img/cloud.png">

        <h2 id="dev">Développement</h2>

        <p>
          Vous avez besoin d'un renfort expérimenté dans votre équipe de développement ? Ou bien vous recherchez un
          coach, un facilitateur ? Peut être venez-vous de lancer une startup et vous rêvez d'une personne pouvant
          comprendre votre activité et qui vous aidera à prendre du recul sur vos pratiques de développement ?
        </p>

        <p>
          Je suis en permanence à la recherche de missions, <a href="mailto:david@gageot.net">contactez-moi</a> et nous
          trouverons ensemble comment intervenir sur votre projet.
        </p>

        <p>
          <i class="icon-heart"></i>Ce que mes clients pensent de moi, sur
          <a href="http://fr.linkedin.com/in/davidgageot">Linkedin</a> ou
          <a href="http://www.hopwork.com/profile/51028e06d393273e34aefeee#reco">HopWork</a>.
        </p>
      </div>

      <div class="span4">
        <img src="/assets/img/formation.png">

        <h2 id="training">Formations</h2>

        <p>
          Je propose des formations destinées aux développeurs qui souhaitent améliorer leur habilité à écrire du code
          testé. Ces formations sont le fruit de mon expérience et de mon travail. Elles se veulent le plus pédagogiques
          possible. Elles mettent l'accent sur la mise en pratique plus que sur des slides, en particulier la
          formation de type "BootCamp" destinée à ceux qui n'ont pas peur de se faire mal avec du code !<br>
          <a href="/formations.html">Catalogue des formations »</a>
        </p>

        <p>
          <i class="icon-check"></i>Vous pouvez aussi lire ce que je raconte sur les tests
          <a href="https://speakerdeck.com/dgageot/lets-make-this-test-suite-run-faster-bejug">ici</a> ou
          <a href="https://speakerdeck.com/dgageot/mockito-ecrire-des-tests-unitaires-est-devenu-simple">là</a>.
        </p>
      </div>
    </div>
  </div>
</section>