<section id="bbl">
  <div class="container">
    <div class="bag">
      <img class="pull-right" src="/assets/img/brownBag.png">

      <p class="lead">
        <span class="label label-important">Important</span>&nbsp;les "baggers" sont sur
        <a href="http://www.brownbaglunch.fr/">Brown Bag Lunch France</a>
      </p>
    </div>

    <div class="caption">
      <h2>Un Brown Bag Lunch ?
        <small>(broun’bāg’)</small>
      </h2>

      <p class="lead">
        <strong>L’idée : </strong>certains parmi vous assistent à mes présentations lors de JUGs/Conférences et
        aimeraient en faire profiter leurs collègues.
      </p>

      <p class="lead">
        <strong>Une solution : </strong>je viens une heure dans votre entreprise, le midi. Vous gérez les sandwichs, moi
        la présentation. Gratuitement bien sûr.
      </p>

      <p class="lead">
        <strong>Qu’est-ce que j’y gagne ? </strong>Rencontrer de vraies personnes avec de vraies questions. Et qui sait
        peut-être un futur client ?
      </p>

      <p class="lead">
        <strong>Les sujets :</strong>
      </p>

      <div class="accordion" id="accordion2">
        {% for post in site.categories.bbl %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
               href="#collapse{{forloop.index}}">
              {{post.title}}
            </a>
          </div>
          <div id="collapse{{forloop.index}}" class="accordion-body collapse">
            <div class="accordion-inner">
              {{post.content}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <p class="small"><em>Ils ont fait un BBL : Egencia, Energy Pool, Lectra, VSCT, Orange, SGCIB, Finance active, BNP, Vidal...</em></p>
    </div>
  </div>
</section>