<section id="bio">
  <div class="carousel">
    <div class="carousel-inner">
      <img class="background" src="/assets/img/back.jpg" alt="">

      <div class="container">
        <div class="carousel-caption">
          <img class="portrait img-polaroid" src="/assets/img/hw_profile15_logo.jpg" alt="">

          <p class="lead">
            Bonjour, je suis <a href="http://twitter.com/dgageot">David Gageot</a>, développeur indépendant et <a href="https://java-champions.java.net/">Java Champion</a>. Ma passion&nbsp;?
            L'écriture de logiciels pointus mais simples. J'ai pour leitmotiv d'être un facilitateur qui, par ma
            créativité et mon expertise, aide les équipes à être plus innovantes et plus efficaces.
          </p>

          <p class="lead">
            Java Champion, je participe à des projets Java depuis 1998. Google Developer Expert,
            j'utilise mes compétences Devops sur des projets cloud.
          </p>

          <p class="lead">
            Vous suivez peut-être mon blog <a href="http://javabien.net/">JavaBien!</a> depuis 2004.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
