<section id="bio">
  <div class="carousel">
    <div class="carousel-inner">
      <img class="background" src="/assets/img/back.jpg" alt="">

      <div class="container">
        <div class="carousel-caption">
          <img class="portrait img-polaroid" src="/assets/img/hw_profile15_logo.jpg" alt="">

          <p class="lead">
            Bonjour, je suis <a href="http://twitter.com/dgageot">David Gageot</a>, développeur indépendant. Ma passion&nbsp;?
            L'écriture de logiciels pointus mais simples. J'ai pour leitmotiv d'être un facilitateur qui, par ma
            créativité et mon expertise, aide les équipes à être plus innovantes et plus efficaces.
          </p>

          <p class="lead">
            Je participe à des projets Java depuis 1998, comme responsable R&amp;D chez l'éditeur
            <a href="http://fr.adesoft.com/">Adesoft</a> puis directeur technique chez
            <a href="http://www.valtech.fr/fr">Valtech Technology</a>, CTO chez
            <a href="http://blog.javabien.net/?s=algodeal">Algodeal</a>, un fond d'investissement quantitatif puis
            développeur chez <a href="http://www.sonarsource.com/">SonarSource</a>, la société derrière
            <a href="http://www.sonarsource.org/">Sonar</a>.
          </p>

          <p class="lead">
            Vous suivez peut-être mon blog <a href="http://javabien.net/">JavaBien!</a> depuis 2004.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>