{% assign home = 'page.home' %}

<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a href="{{home}}#bio">Bio</a></li>
                <li><a href="{{home}}#activites">Activités</a></li>
                <li><a href="{{home}}#codestory">Code-Story</a></li>
                <li><a href="{{home}}#bbl">Brown Bag Lunch</a></li>
                <li><a href="{{home}}#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>