body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

i {
  margin-right: 10px;
}

#bio .carousel {
  border-bottom: solid 1px gray;
}

#bio .carousel .container {
  position: relative;
}

#bio .carousel-inner {
  height: 500px;
}

#bio .carousel .background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#bio .carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 15px;
  margin-top: 95px;
}

#bio .carousel-caption .portrait {
  position: absolute;
  top: 85px;
  left: 600px;
  width: 340px;
  height: 340px;
}

#bio .carousel-caption .lead {
  line-height: 1.25;
  color: #fff;
  text-align: justify;
  margin: 0 0 15px;
}

#bio .carousel-caption a {
  color: rgb(115, 230, 0);
  text-decoration: underline;
}

#activites {
  padding-top: 60px;
  padding-bottom: 60px;
}

.marketing .span4 {
  text-align: center;
}

.marketing .span4 p {
  text-align: justify;
}

.marketing h2 {
  font-weight: normal;
}

.marketing img {
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
}

#codestory {
  position: relative;
  height: 700px;
  display: block;
  background: url('/assets/img/close-stars.png') repeat, url('/assets/img/middle-stars.png') repeat, url('/assets/img/far-stars.png') repeat, url('/assets/img/background-repeat.png') repeat;
}

#codestory .content {
  position: relative;
  height: 360px;
}

#codestory .caption {
  width: 410px;
  margin-top: 250px;
  color: white;
}

#codestory .images {
  position: absolute;
  top: 0;
  left: 470px;
  width: 470px;
  height: 360px;
}

#codestory .caption p {
  text-align: justify;
}

#codestory img.header {
  position: absolute;
  top: 0;
  left: 0;
}

#bbl {
  position: relative;
  height: 750px;
  display: block;
  background: url('/assets/img/background-grey-pattern.jpg') repeat;
}

#bbl .caption {
  width: 700px;
  margin-top: 60px;
}

#bbl p {
  text-align: justify;
}

#bbl img {
  margin-top: 500px;
}

#bbl .accordion-group {
  background-color: white;
}

#bbl .accordion-heading {
  background-color: aliceblue;
}

#contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

.social {
  text-align: center;
}

.lead i {
  vertical-align: baseline;
}

footer {
  margin: 0 20px;
}
