body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.carousel {
    border-bottom: solid 1px gray;
}

.carousel .container {
    position: relative;
}

.carousel-inner {
    height: 500px;
}

.carousel .background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 15px;
    margin-top: 95px;
}

.carousel-caption .portrait {
    position: absolute;
    top: 85px;
    left: 600px;
    width: 340px;
    height: 340px;
}

.carousel-caption .lead {
    line-height: 1.25;
    color: #fff;
    text-align: justify;
    margin: 0 0 15px;
}

.carousel-caption a {
    color: rgb(115, 230, 0);
    text-decoration: underline;
}

#activites {
    padding-top: 60px;
    padding-bottom: 60px;
}

.marketing .span4 {
    text-align: center;
}

.marketing .span4 p {
    text-align: justify;
}

.marketing h2 {
    font-weight: normal;
}

.marketing img {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}

.social {
    text-align: center;
}

footer {
    margin: 0 20px;
}
