<!DOCTYPE html>
<html lang=en>
<head>
  <title>{{page.title}}</title>
  <meta charset=utf-8>
  <meta name="keywords" content="java, tests, conseil, indépendant">
  <meta name="description" content="David Gageot. Retour1024 EURL. Développeur indépendant.">
  <meta name="google-site-verification" content="_N6dUGKhyI4VhhLEaPxAp6WGrx-uecLZqVT-jElHs6U"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet/less" type="text/css" href="/assets/css/style.less"/>
  <script src="/assets/js/less.min.js" type="text/javascript"></script>
  <link rel='shortcut icon' type='image/png' href='/assets/img/apple-touch-icon-114x114.png'/>
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png"/>

  <!-- for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  {% unless site.debug %}
  <style>
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 300;
      src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
    }
  </style>
  {% endunless %}
</head>

{{content}}

{% unless site.debug %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23085510-1']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endunless %}
</html>