---
layout: default
title: David Gageot - Retour1024
home: /
---

<body>

{% include header.html %}

<div class="container" id="fiche_formations">
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <div class="row-fluid">
          <div class="span10">
            <h2>{{page.title}}</h2>

            <p class="mute">« {{page.subtitle}} »</p>
          </div>
          <div class="span2">
            <p>
              <br>
              <strong>{{page.duration}}</strong>
              <br>
              {{page.tarif}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{content}}

  <p class="alert-danger">RETOUR AUX FORMATIONS</p>
</div>

{% include footer.html %}


</body>