---
layout: default
title: David Gageot - Retour1024
home: /
---

<body>

{% include header2.html %}

<div class="container" id="fiche_formations">
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <div class="row-fluid">
          <div class="span8">
            <h2>{{page.name}}</h2>

            <p class="mute">« {{page.subtitle}} »</p>
          </div>
          <div class="span4">
            <p>
              <strong>Durée : </strong>{{page.duration}}
              <br>
              <strong>Tarif : </strong>{{page.tarif}}
              <br>
              <span class="text-error"><strong>Dates : </strong>{{page.date1}}</span>
            </p>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <p class="summary">{{page.summary}}</p>
            <br>
            <div class="text-right">
              {% if page.eventbrite %}
              <a class="btn btn-success" href="{{page.eventbrite}}">S'inscrire maintenant sur Eventbrite</a>
              /
              {% endif %}
              <a class="btn btn-primary"
               href="mailto:david@gageot.net?body=Bonjour,&#37;0D&#37;0DJ'aimerais avoir plus d'informations sur cette formation.&#37;0D&#37;0DMerci.&subject=[Formation] {{page.name}}"
               target="contact">Obtenir plus d'informations</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      {{content}}
    </div>
  </div>

  <br>
  <a href="/formations.html">« Retour à la liste des formations</a>
</div>

{% include footer.html %}

</body>